@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

nav li a:hover {
  background-color: #172335;
  border-radius: 110%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus', serif;
  background-color: #f7f7f7;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: calc(100vh - 9rem -3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100%;
  height: 9.0625rem;
  /* flex-shrink: 0;*/
  background: #172335;
  background-color: #172335;
  align-items: center;
  display: flex;
  justify-content: center;

}

header img {
  width: 13.8125rem;
  height: 7.875rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5f84a2;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

nav li {
  display: block;
  padding: 1rem 1.5rem;
  color: white;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

li a {
  background-color: #172335;
  color: white;

}

li a:hover {
  background-color: #111111;
  color: white;
}

h1{
/*border-bottom: 0.9px solid black; */
/*font-family: "Marcellus SC";*/
font-size: 2.5rem;
margin-bottom: 15px;
}


.santorini {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.dourada {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.doce {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sol {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.brisa {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.mar {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.lua {
  width: 1711.0625rem6px;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.areia{
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
   


.tropical {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.noite {
  width: 11.0625rem;
  height: 261px;
  flex-shrink: 0;
  aspect-ratio: 176/261;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.section-acessorio {
  display: flex;
  justify-content: space-evenly;
  
}
