.img-01{
    width: 213px;
    height: 126px;
    flex-shrink: 0;
    margin: 0 auto; 
    aspect-ratio: 213/128;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: url('../img/Gemini_Generated_Image_g5e8w1g5e8w1g5e8.png') lightgray 3.679px -32px / 100% 166.406% no-repeat;
}

header {
    width: 2000px;
    height: 128px;
    flex-shrink: 0;
    background: #172335;
}

