@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

header {
  width: 100%;
  height: 9.0625rem;
  background-color: #172335;

  display: flex;
  justify-content: center;
}

header img {
  width: 13.8125rem;
  height: 7.875rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5f84a2;

  display: flex;
  justify-content: center;

  font-weight: 400;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  /* text-align: center; */
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

h1 {
  width: 23.0625rem;
  height: 4rem;
  flex-shrink: 0;
  color: #000;
  font-family: "Marcellus SC";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
  padding-left: 2px;
}

.Maios {
border-bottom: 3px solid #00000080;
width: 80%;
margin-left: 10%;
}

/* edu esteve por aqui */